/*! base start  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

body {
  overflow-x: hidden;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}


.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.logo-img {
  height: 10px;  /* veya istediğin boyut */
  width: auto;
}

button {
  cursor: pointer;
  border: none;
}

button:disabled {
  opacity: 0.4 !important;
  cursor: no-drop;
}

.btn {
  display: inline-block;
  padding: 0 25px;
  line-height: 40px;
  font-weight: 500;
  border: 2px solid #2c2d3b;
  transition: 0.2s ease all;
  border-radius: 15px;
}

.btn-sm {
  line-height: 33px;
}

.btn-lg {
  line-height: 45px;
}

.btn-primary {
  background-color: hsla(0, 0%, 93%, 0.5);
  border-color: #045e5a;
}

.btn-primary:hover {
  background-color: #fff;
  color: #0c9188;
}

.custom-stroke-btn {
  margin-top: 20px;
box-shadow: 0 0 0 1px rgb(0, 117, 101); /* geçici görünürlük için */
  display: inline-block;
  padding: 12px 0px;
  color: #1a1a1a;
  border: 5px solid #1a1a1a;
  border-radius: 10000px;
  background-color: transparent;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  transition: all 0.25s ease;
}

.custom-stroke-btn:hover {
  background-color: rgba(0, 0, 0, 0.06);
  color: #000;
  border-color: #000;
}



textarea {
  overflow: auto;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
  outline: none;
  border: 1px solid #dee0ea;
  padding: 8px 8px 8px 15px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
  border-color: gray;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

.img-fluid {
  width: 100%;
}

/*! base end  */

/* base responsive  */

@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 400px;
  }
}

@media (max-width: 420px) {
  .container {
    max-width: 350px;
  }
}
